*,
*::after,
*::before {
  box-sizing: border-box;
}

#root {
  background-color: #111;
}

.map-status {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #232323;
  color: #fff;
  min-height: 2rem;
  width: 225px;
  padding-right: 1rem;
  border-bottom: 1px solid #000;
  border-right: 1px solid #000;
  border-radius: 0 0 8px 0;
}

.map-controls-bar {
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #232323;
  color: #fff;
  width: 100%;
}
