*,
*::after,
*::before {
  box-sizing: border-box;
}

#root {
  background-color: #111;
}

.map-ui {
  background-color: #232323;
  color: #fff;
  border: 1px solid #000;
}

.border-round-br {
  border-radius: 0 0 8px 0;
}

.border-round-tr {
  border-radius: 0 8px 0 0;
}

.map-status {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 2rem;
  min-width: 225px;
  padding-right: 1rem;
  border-top: none;
  border-left: none;
}

.map-controls-bar {
  position: absolute;
  left: 0;
  bottom: 0;
  border-bottom: none;
  border-left: none;
}
